@import url('https://fonts.bunny.net/css?family=plus-jakarta-sans:400,500,600,700,800&display=swap');
@import './tokens.css';
@import './public.css';
@import './ui.css';
@import './utilities.css';
@import './chatbot.css';
@import './chatbot-widget.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
 display: none !important;
}

/* Swup Transition Styles */
html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(15px);
}
.transition-fade {
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    opacity: 1;
    transform: translateY(0);
}
